Source: susicam
Section: devel
Priority: optional
Maintainer: Leonardo Ayala <l.menjivar@dkfz-heidelberg.de>
Build-Depends: debhelper (>= 12), debhelper-compat (= 13), cmake (>= 3.10.0), qt6-base-dev (>= 6.0.0), libopencv-dev (>= 4.5.1), libboost-all-dev (>= 1.74.0), libgtest-dev (>= 1.10)
Standards-Version: 4.6.0

Package: susicam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application to record spectral data.