#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir -p build-deb && cd build-deb && cmake -D OpenCV_DIR=/usr/include/opencv4/opencv2 -D Ximea_Include_Dir=/opt/XIMEA/include -D Ximea_Lib=/usr/lib/libm3api.so.2.0.0 ..
